<nav>
    <div class="bg-black w-full h-24 flex flex-nowrap">
        <div class="bg-red-400 w-[10%] flex justify-center">
            <img [routerLink]="['/home']" class="object-cover h-full w-auto" src="assets/logo-slam-stats.png" alt="">
        </div>
        <div class="w-full flex flex-nowrap">
            <div class="w-[60%] ">
                <ul class="flex justify-around items-end h-full pb-5 text-white">
                    <li [routerLink]="['/home']">NBA</li>
                    <li [routerLink]="['/classifica']">CLASSIFICA</li>
                    <li [routerLink]="['/calendario']">CALENDARIO</li>
                    <li [routerLink]="['/squadre']">SQUADRE</li>
                    <li [routerLink]="['/storia&regole']">STORIA & REGOLE</li>
                    <li [routerLink]="['/blog']">BLOG</li>
                </ul>
            </div>
            <div class="w-[40%] bg-red-300 flex justify-end items-end pb-5 h-full">
                <div class="bg-gray-500 h-5 w-60 mr-5">

                </div>
                <p class="mr-5">ciaooo</p>
            </div>
        </div>
    </div>
</nav>