<div class="w-full flex justify-center">
    <div class="w-[85%] h-72 flex flex-wrap justify-center">
        <div class="bg-[#DCF1FF] h-[80%] rounded-3xl flex flex-wrap justify-center">
            <div class="w-full h-1/5 flex justify-center items-center">
                <p class="font-bold text-2xl">12/07/2023</p>
            </div>
            <div class="w-full h-1/5 flex justify-between">
                <div class="w-1/4 flex justify-center">
                    <img class="object-contain h-full" src="https://picsum.photos/id/237/200/" alt="immagine">
                </div>
                <div class="w-2/4 flex justify-between items-center">
                    <div>
                        <p class="text-2xl">110</p>
                    </div>
                    <div>
                        <p class="h-full text-4xl flex items-center p-0 m-0">-</p>
                    </div>
                    <div>
                        <p class="text-2xl">90</p>
                    </div>
                </div>
                <div class="w-1/4 flex justify-center">
                    <img class="object-contain h-full" src="https://picsum.photos/id/237/200/" alt="immagine">
                </div>
            </div>
            <div class="w-full h-1/5 fleex justify-center items-center">
                <p class="w-full flex justify-center items-center">3:18 4°Q</p>
            </div>
            <div class="w-full h-1/5 flex justify-center items-center">
                <div class="w-[75%] h-1/2 border-black rounded-full flex flex-nowrap justify-center">
                    <div class="w-[65%] bg-red-600 rounded-l-full"></div>
                    <div class="w-[45%] bg-blue-600 rounded-r-full"></div>
                </div>
            </div>
            <div class="w-full h-1/5 rounded-b-3xl flex justify-center items-center bg-primary">
                <button>
                    <p class="text-white">TABELLINO</p>
                </button>
            </div>
        </div>
        <div class="w-full h-[20%] flex justify-center my-4">
            <div class="w-1/2 h-full flex flex-nowrap justify-between">
                <div class="w-full h-10 flex justify-center">
                    <span class="h-10 w-10 bg-red-300 rounded-full flex justify-center items-center">O</span>
                </div>
                <div class="w-full h-10 flex justify-center">
                    <span class="h-10 w-10 bg-red-300 rounded-full flex justify-center items-center">O</span>
                </div>
            </div>
        </div>
    </div>
</div>