<div>
    <div class="w-full bg-primary text-white md:altezza-footer h-auto md:flex flex flex-wrap md:flex-nowrap">
        <div class="lg:w-[25%] w-full flex justify-center items-center">
            <img [routerLink]="['/home']" class="object-fill lg:h-[50%] h-[70%] w-auto" src="assets/logo-slam-stats.png" alt="logo" />
        </div>
        <div class="md:w-[75%] w-full md:flex md:flex-nowrap flex-wrap items-center">
            <div class="md:w-full w-full flex">
                <div class="md:w-1/4 w-1/2">
                    <h3 class="flex justify-center">PAGINE</h3>
                    <ul class="flex flex-col m-4 cursor-pointer">
                        <li [routerLink]="['/home']">HOME</li>
                        <li [routerLink]="['/classifica']">CLASSIFICA</li>
                        <li [routerLink]="['/calendario']">CALENDARIO</li>
                        <li [routerLink]="['/squadre']">SQUADRE</li>
                        <li [routerLink]="['/storia&regole']">STORIA E REGOLE</li>
                        <li [routerLink]="['/blog']">BLOG</li>
                    </ul>
                </div>
                <div class="md:w-1/4 w-full lg:block hidden">
                    <h3 class="text-white flex justify-center">CONTATTI</h3>
                    <ul class="flex flex-col m-4">
                        <li class="cursor-pointer" routerLink="'/'">Maps</li>
                        <li>lorenzo.garnero@edu.itspiemonte.it</li>
                        <li>andrea.cavalca@edu.itspiemonte.it</li>
                        <li>giorgio.modeo@edu.itspiemonte.it</li>
                        <li>riccardo.cacciatore@edu.itspiemonte.it</li>
                        <li>stefano.alfieri@edu.itspiemonte.it</li>
                        <li>angelica.biondo@edu.itspiemonte.it</li>
                        <li>manuel.hozu@edu.itspiemonte.it</li>
                        <li>armir.trupja@edu.itspiemonte.it</li>
                    </ul>
                </div>
                <div class="md:w-1/4 w-1/2">
                    <h3 class="text-white flex justify-center">SOCIAL</h3>
                    <ul class="flex flex-col justify-center cursor-pointer m-4">
                        <li> <a target="_blank" href="https://www.instagram.com/slamstats_official/">Instagram</a></li>
                        <li> <a target="_blank" href="https://www.facebook.com/people/slamstatsofficial/61555487793332/?locale=it_IT">Facebook</a></li>
                        <li [routerLink]="['/']">X</li>
                    </ul>
                </div>
                <div class="hidden md:w-1/4 md:flex flex-col justify-center items-center pb-5 h-full">
                    <h3>CERCA</h3>
                    <input type="text" class="rounded-full mt-4 text-center text-black" placeholder="cerca">
                </div>
            </div>
            <div class="md:w-1/4 w-full lg:hidden">
                <h3 class="text-white flex justify-center">CONTATTI</h3>
                <ul class="flex flex-col m-4">
                    <li class="cursor-pointer"><a href="https://www.google.com/maps/place/Sticazzi/@40.4563173,-3.7903946,17z/data=!3m1!4b1!4m6!3m5!1s0xd41876d9c5c1381:0x5f28e6c781534e1e!8m2!3d40.4563173!4d-3.7878197!16s%2Fg%2F11sb2mlmq7?entry=ttu">Maps</a></li>
                    <li>lorenzo.garnero@edu.itspiemonte.it</li>
                    <li>andrea.cavalca@edu.itspiemonte.it</li>
                    <li>giorgio.modeo@edu.itspiemonte.it</li>
                    <li>riccardo.cacciatore@edu.itspiemonte.it</li>
                    <li>stefano.alfieri@edu.itspiemonte.it</li>
                    <li>angelica.biondo@edu.itspiemonte.it</li>
                    <li>manuel.hozu@edu.itspiemonte.it</li>
                    <li>armir.trupja@edu.itspiemonte.it</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full h-auto flex justify-center">
        <p class="font-bold">Powered By: Slam Dunkers</p>
    </div>
</div>

 