<div class="w-full flex flex-wrap justify-center">
    <div class="w-full flex flex-nowrap px-10 pt-5">
        <div class="h-[20vmin] w-[20vmin] m-2">
            <div class="rounded-full bg-gray-500 h-[15vmin] w-[15vmin]"></div>
        </div>
        <div class="w-full">
            <div class="flex justify-between w-full p-2">
                <div class="">NOME</div>
                <div class="">DATA</div>
            </div>
            <div class="w-full min-h-20 bg-white p-2">{{'@'}} contenuto del commento</div>
        </div>
    </div>
</div>