@media (min-width: 1024px) {
    .altezza {
      height: 420px;
    }
}
@media (min-width: 1024px) {
    .altezza2 {
      height: 320px;
    }
}

.highlighted{
    transition: background-color 1s;
}

.selected.highlighted{
    background-color: darken(#ACDEFF, 10%); 
}