<app-navbar></app-navbar>
<section>
    <div class="mb-10">
        <div class="w-full h-20 bg-primary flex justify-center items-center">
            <h2 class=" text-white text-4xl font-bold">
                SQUADRE
            </h2>
        </div>
        <div class="w-full h-6 bg-secondary"></div>
    </div>
    <div class="lg:h-16 h-10 lg:hidden">
        <ul class="w-full lg:h-16 h-10 flex flex-nowrap justify-around items-center">
            <!-- Primo elemento della lista -->
            <li [ngClass]="{'bg-secondary': isConferenceSelected === true, 'border-secondary lg:border-4 border-2 hover:bg-[#DCF1FF]': isConferenceSelected === false}" class="lg:w-1/3 w-[45%] h-full flex justify-center items-center rounded-2xl lg:text-xl text-sm">
                <button (click)="functionChangeConferenceSelected()" [class.text-white]="isConferenceSelected === true" class="w-full text-center text-white lg:text-3xl">EASTERN CONFERENCE</button>
            </li>

            <!-- Secondo elemento della lista -->
            <li [ngClass]="{'border-secondary lg:border-4 border-2 hover:bg-[#DCF1FF]': isConferenceSelected === true, 'bg-secondary': isConferenceSelected === false}" class="lg:w-1/3 w-[45%] h-full flex justify-center items-center rounded-2xl lg:text-xl text-sm">
                <button (click)="functionChangeConferenceSelected()" [class.text-white]="isConferenceSelected === false" class="w-full text-center lg:text-3xl">WESTERN CONFERENCE</button>
            </li>
        </ul>
    </div>
    <div class="flex h-full justify-center">
        <div class="container h-full flex flex-wrap justify-center">
            <div class="lg:w-[75%] w-full h-full flex flex-wrap justify-center lg:my-12 " *ngIf="isConferenceSelected===true && isMobile===true || isMobile===false">
                <div class="w-full flex justify-end pb-2">
                    <button></button>
                </div>
                <div class="hidden w-full lg:flex justify-center items-center bg-primary h-12">
                    <h2 class="font-bold text-2xl text-white pl-4">EASTERN CONFERENCE</h2>
                </div>
                <div class="w-full flex flex-wrap lg:flex-nowrap lg:justify-between mt-8 h-full">
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-start">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>SOUTHEAST</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.SoutHeast">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]"/>
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-center">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>ATLANTIC</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.Atlantic">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]"/>
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-end">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>CENTRAL</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.Central">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]" />
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-[75%] w-full h-full flex flex-wrap justify-center lg:my-12" *ngIf="isConferenceSelected===false && isMobile===true || isMobile===false">
                <div class="w-full flex justify-end pb-2">
                    <button></button>
                </div>
                <div class="hidden lg:flex w-full justify-center items-center bg-primary h-12">
                    <h2 class="font-bold text-2xl text-white pl-4">WESTERN CONFERENCE</h2>
                </div>
                <div class="w-full flex flex-wrap lg:flex-nowrap lg:justify-between mt-8 h-full">
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-start">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>SOUTHWEST</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.SouthWest">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]"/>
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-center">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>NORTHWEST</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.NorthWest">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]"/>
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-1/3 w-full flex flex-wrap justify-center lg:justify-end">
                        <div class="lg:w-[80%] w-full">
                            <div class="w-full flex justify-center items-center bg-primary font-bold text-1xl text-white h-12">
                                <p>PACIFIC</p>
                            </div>
                            <div class="flex justify-center">
                                <ul class="w-[90%] flex-col">
                                    <li class="h-16 flex justify-center my-4" *ngFor="let team of teams.Pacific">
                                        <div class="w-1/3 flex justify-center">
                                            <img class="object-contain h-full hover:cursor-pointer" src={{team.logo}} alt="" [routerLink]="['/squadraDetail', team.id]"/>
                                        </div>
                                        <div class="w-2/3 pl-4">
                                            <p class="w-auto hover:cursor-pointer" [routerLink]="['/squadraDetail', team.id]">{{team.teamName}}</p>
                                            <p class="w-[10%] hover:cursor-pointer">🖤</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="mt-20">
    <app-footer></app-footer>
</footer>